<template>
  <v-container>
    <h1>About</h1>
    <h3>Author: Dmitry Cherendieiev</h3>
    <h3>Links:</h3>
    <a href="https://github.com/destimon">Github</a>
    <br />
    <a href="https://t.me/destimon">Telegram</a>
  </v-container>
</template>

<script>
export default {};
</script>

<style></style>
