<template>
  <v-container>
    <v-col xs="12" md="4">
      <h2>Table management</h2>
      <div v-if="$route.query.editId">
        <h4>Editing user with id {{ this.$route.query.editId }}</h4>
      </div>
      <c-form-add />
    </v-col>
  </v-container>
</template>

<script>
import FormAdd from "@/components/c-form-add";

export default {
  components: {
    "c-form-add": FormAdd
  }
};
</script>

<style></style>>
