<template>
  <v-container>
    <h1>Home</h1>
    <h2>
      Welcome! This is the testing task for
      <a href="https://freshdesign.ua">Fresh Design agency</a>
    </h2>
    <img
      src="https://gorky.media/wp-content/uploads/2018/10/gifv_1534136251_6070741_gifv.gif-1.gif"
    />
  </v-container>
</template>

<script>
export default {
  name: "Home"
};
</script>
