<template>
  <v-container>
    <v-col xs="12" md="6">
      <c-users-table />
      <c-menu-panel />
    </v-col>
  </v-container>
</template>

<script>
import UsersTable from "@/components/c-users-table";
import MenuPanel from "@/components/c-menu-panel";

export default {
  components: {
    "c-users-table": UsersTable,
    "c-menu-panel": MenuPanel
  }
};
</script>

<style></style>>
