<template>
  <div>
    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
          Random cat generator
        </v-card-title>

        <v-card-text>
          <div v-if="!isCatLoaded">
            Cat is loading ...
          </div>
          <div v-else>
            <img class="cat" :src="catUrl" />
          </div>
          <br />
          Some people say, that random cat generator in test assigments gives
          +100% to luck
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialog = false">
            Meow!
          </v-btn>
        </v-card-actions>
      </v-card>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          class="ma-2 width-fix"
          outlined
          color="purple"
          @click="getCat()"
          v-bind="attrs"
          v-on="on"
          >Get cat</v-btn
        >
      </template>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      catUrl: "",
      dialog: false,
      isCatLoaded: false
    };
  },
  methods: {
    getCat() {
      this.isCatLoaded = false;
      axios
        .get("https://api.thecatapi.com/v1/images/search")
        .then(res => {
          this.catUrl = res.data[0].url;
          this.isCatLoaded = true;
        })
        .catch(err => {
          console.error(err);
        });
    }
  }
};
</script>

<style></style>
