<template>
  <div>
    <form class="ma-2">
      <v-text-field
        label="Name"
        v-model="name"
        :error-messages="nameErrors"
        :counter="10"
        @input="$v.name.$touch()"
        @blur="$v.name.$touch()"
        @keyup.enter="submit"
        required
      ></v-text-field>
      <v-text-field
        label="Description"
        v-model="description"
        :error-messages="descriptionErrors"
        :counter="15"
        @input="$v.description.$touch()"
        @blur="$v.description.$touch()"
        @keyup.enter="submit"
        required
      ></v-text-field>
      <v-col class="text-right">
        <v-btn class="ma-2" outlined color="green" @click="submit"
          >Submit</v-btn
        >
        <v-col class="text-left">
          {{ result }}
        </v-col>
      </v-col>
    </form>
  </div>
</template>

<script>
import { required, maxLength } from "vuelidate/lib/validators";
import { mapState } from "vuex";
import _ from "lodash";

export default {
  data() {
    return {
      name: "",
      description: "",
      result: ""
    };
  },
  validations: {
    name: { required, maxLength: maxLength(10) },
    description: { required, maxLength: maxLength(10) }
  },
  computed: {
    ...mapState(["users"]),
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;

      // [Проверить превышает ли длину] && [еслы прошлое тру - то выполнить еррор пуш]
      !this.$v.name.maxLength &&
        errors.push("Name must be at most 10 characters long");
      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
    descriptionErrors() {
      const errors = [];
      if (!this.$v.description.$dirty) return errors;

      !this.$v.description.maxLength &&
        errors.push("Description must be at most 10 characters long");
      !this.$v.description.required && errors.push("Description is required.");
      return errors;
    }
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (!this.$v.$anyError) {
        let id;
        if (this.$route.query.editId) {
          id = this.$route.query.editId;
        } else {
          id = 1;
          this.users.map(element => {
            if (id != element.id) return id;
            id++;
          });
        }

        let user = {
          id,
          name: this.name,
          description: this.description
        };

        if (this.$route.query.editId) {
          this.$store
            .dispatch("editUser", user)
            .then(() => {
              this.result = "Accepted!";
            })
            .catch(error => {
              console.error(error);
              this.result = "Rejected!";
            });
        } else {
          this.$store
            .dispatch("addUser", user)
            .then(() => {
              this.result = "Accepted!";
            })
            .catch(error => {
              console.error(error);
              this.result = "Rejected!";
            });
        }
      }
    }
  },
  mounted() {
    if (this.$route.query.editId) {
      _.map(this.users, o => {
        if (o.id === this.$route.query.editId) {
          this.name = o.name;
          this.description = o.description;
        }
      });
    }
  }
};
</script>

<style></style>>
