<template>
  <v-container class="menu">
    <h2>Menu panel</h2>
    <v-btn class="ma-2 width-fix" outlined color="green" to="/add"
      >Add new user</v-btn
    >
    <v-btn class="ma-2 width-fix" outlined color="red" @click="deleteAll()"
      >Delete all</v-btn
    >
    <c-cat-dialog />
  </v-container>
</template>

<script>
import CatDialog from "@/components/c-cat-dialog";

export default {
  components: {
    "c-cat-dialog": CatDialog
  },
  methods: {
    deleteAll() {
      confirm("Are you sure you want to delete this item") &&
        this.$store.dispatch("resetUsers");
    }
  }
};
</script>

<style lang="scss">
.cat {
  max-width: 250px;
  max-height: 250px;
}
</style>
