<template>
  <v-container>
    <h2>Table</h2>
    <v-data-table
      :headers="headers"
      :items="users"
      :items-per-page="5"
      class="elevation-1"
    >
      <template v-slot:item.actions="{ item }">
        <div>
          <v-icon small class="mr-2" @click="editUser(item)">
            mdi-pencil
          </v-icon>
          <v-icon small @click="deleteUser(item)">
            mdi-delete
          </v-icon>
        </div>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      headers: [
        {
          text: "ID",
          align: "start",
          sortable: true,
          value: "id"
        },
        { text: "Name", value: "name" },
        { text: "Description", value: "description" },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  computed: {
    ...mapState(["users"])
  },
  methods: {
    editUser(user) {
      this.$router.push({ path: "/add", query: { editId: user.id } });
    },

    deleteUser(user) {
      confirm("Are you sure you want to delete this item?") &&
        this.$store.dispatch("deleteUser", user);
    }
  }
};
</script>

<style></style>
