<template>
  <v-footer absolute class="font-weight-medium">
    <v-container>
      <v-col class="text-left" cols="6">
        <hr />
        <small>© Dmitry Cherendieiev</small>
      </v-col>
    </v-container>
  </v-footer>
</template>

<style lang="scss">
footer {
  hr {
    opacity: 0.5;
  }
  small {
    opacity: 0.5;
  }
}
</style>
