<template>
  <div>
    <v-app-bar color="primary accent-4" dense dark>
      <v-tabs align-with-title>
        <v-tab to="/">Main</v-tab>
        <v-tab to="/table">Table</v-tab>
        <v-tab to="/add">Add</v-tab>
        <v-tab to="/about">About</v-tab>
      </v-tabs>
      <v-spacer></v-spacer>
    </v-app-bar>
  </div>
</template>

<script>
export default {};
</script>
