<template>
  <div>
    <Navbar />
    <slot />
    <Footer />
  </div>
</template>

<script>
import Navbar from "./layout-components/Navbar";
import Footer from "./layout-components/Footer";

export default {
  name: "DefaultLayout",
  components: {
    Navbar,
    Footer
  }
};
</script>

<style lang="scss"></style>
